.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root input{
    height: 16px;
   
}

.css-1q6at85-MuiInputBase-root-MuiOutlinedInput-root .css-1d3z3hw-MuiOutlinedInput-notchedOutline{
    border: none;
    outline: none;
}